:root {
    /* 
    Yellow - #F29F58 
    Red - #AB4459
    Purple - #441752
    Black - #1B1833
    */
    --bg-1: rgb(34, 29, 75);
    --bg-2: rgb(27, 24, 51);
    --bg-3: rgba(42, 0, 0, 0.89);
    --bg-main: rgb(51, 1, 56);
    --bg-transparent: rgba(255, 255, 255, 0);
    --text-orange: #F29F58;
}

html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: var(--bg-3);
    color: #ffdab9;
    background-image: url(assets/concept5.png);
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: overlay;
}

header {
    background: var(--bg-transparent);
    color: #fff;
    padding: 1.5rem 0;
    text-align: center;
}

main {
    height: 100%;
    margin: 2rem auto;
    background: var(--bg-transparent);
}

footer {
    background: var(--bg-transparent);
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    bottom: 0;
}

.carousel-item-box {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0.5rem; 
    left: 0;
    width: 100%; 
    display: flex; 
    justify-content: center; 
    transition: all 900ms cubic-bezier(0.22, 0.61, 0.36, 1); 
    border-radius: 0.25rem; 
}

.carousel-title {
    pointer-events: none;
    font-size: 0.85rem; 
    letter-spacing: 0.2rem;
    color: rgb(88, 103, 123);
    text-align: center;
    width: 100%; 
    display: block; 
    padding-top: 0.25rem; 
    padding-bottom: 0.25rem;
}

.turn-your-text-white {
    color: white !important; /* dont do this at home kids */
}

.tags {
    margin-top: 0.5rem;
}
.tag-item {
    display: inline-block;            
    background-color: rgb(229, 231, 235); 
    color: rgb(55, 65, 81);        
    font-size: 0.80rem;
    padding-left: 0.5rem;            
    padding-right: 0.5rem;
    padding-top: 0.25rem;           
    padding-bottom: 0.25rem;
    border-radius: 0.25rem;  
    transform: scale(0.95);            
    transition: all 200ms ease-in;
}

#carousel-description-box {
    /* background-color: white;
    border-color:red;
    border-radius: 8px; */
}

#carousel-description {
    border-radius: 0.25rem;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),
                0 1px 2px -1px rgba(0,0,0,0.1);
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
    min-height: 60px;
    background-color: black;
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
    opacity: 0;
    transition: opacity 0.6s ease;
}

.visible{
    opacity: 1 !important;
    transition: opacity 0.6s ease;
}

.text-orange {
    color: var(--text-orange);
}

.movie-title {
    color: white;
    display: block; 
    font-size: 2.25rem;
    line-height: 2rem;
    font-weight: 700;
    text-shadow: rgba(255, 0, 0, 0.279) 0px 0px 5px;
    margin-bottom: 1rem; 
    transition: all 900ms cubic-bezier(0.22, 0.61, 0.36, 1);
    transform: scale(0.95); 
    will-change: opacity, transform; 
}

.movie-desc {
  display: inline-block;
  transition: all 900ms cubic-bezier(0.22, 0.61, 0.36, 1);
  margin-bottom: 0.5rem; 
  will-change: opacity, transform;
  margin-top:1.50rem;
  margin-bottom:2.25rem;
  margin-left:25%;
  margin-right:25%;
  padding: 2.15rem;
  background: rgb(87, 82, 82);
  border-radius: 20px;
  font-size: 1.25rem;
}

.movie-desc::after {
  content: "";
  position: absolute;
  top: -12px;   /* now it’s above the box */
  right: 400px;  /* keep it aligned to the right */
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid rgb(87, 82, 82); /* point downwards */
}
.spoiler-box {
    background-color: rgba(54, 0, 0, 0.932);
    border: red;
    color: white;
}

.spoiler-title{
    font-size: 1.25rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 0.2px black;
    text-shadow: rgb(0, 0, 0) 5px 0px 2px;
    background: repeating-linear-gradient(
    45deg,
    #c25757,
    #c15858 10px,
    #9b3f3f 10px,
    #973939 20px
    );
}

.spoiler-content{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
}

.spoiler-tag-explain {
    font-size: 0.75rem;
    color: rgb(200, 200, 200);
    margin-top: 1rem;
    font-style: italic;
}

.jackenstein {
    opacity: 0;
    background-image: url(assets/deltarune-jackenstein.gif);
    background-repeat: repeat-x;
    background-size: auto 50px;
    animation:jackSlideLeft 60s linear infinite;
    width: auto;
    height: 50px;
}

@keyframes jackSlideLeft {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -500px;
    }
}