:root {
    /* 
    Yellow - #F29F58 
    Red - #AB4459
    Purple - #441752
    Black - #1B1833
    */
    --bg-1: rgb(27, 24, 51);
    --bg-2: rgb(27, 24, 51);
    --bg-main: rgb(95, 41, 111);
    --bg-transparent: rgba(255, 255, 255, 0);
    --text-orange: #F29F58;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: var(--bg-1);
    color: #F29F58;
    background-image: url(assets/concept5.png);
    background-size: cover;
    background-blend-mode: overlay;
}

header {
    background: var(--bg-transparent);
    color: #fff;
    padding: 1.5rem 0;
    text-align: center;
}

main {
    max-width: 95%;
    margin: 2rem auto;
    background: var(--bg-transparent);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

footer {
    background: var(--bg-transparent);
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    bottom: 0;
}

.text-orange {
    color: var(--text-orange);
}

.jackenstein {
    background-image: url(assets/deltarune-jackenstein.gif);
    background-repeat: repeat-x;
    background-size: auto 50px;
    animation:jackSlideLeft 60s linear infinite;
    width: auto;
    height: 50px;
}

@keyframes jackSlideLeft {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -500px;
    }
}